header#main-header {
    width: 100%;
    height: 80px;
    background: palevioletred;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

header#main-header a {
    text-decoration: none;
    color: aquamarine;
}